{% extends "main.html" %}
{% block content %}
{% if 'username' in session %}
    <a href="{{ url_for('newManufacturer') }}"><button class="btn btn-primary">Add a Manufacturer</button></a>
{% endif %}
    <h1 class="page_title">Manufacturers</h1>
    <hr class="dark_hr">
    <div class="row row-top-buffer">
    {% for manufacturer in manufacturers %}
        <div class="col-md-2 box">
            <a href="{{ url_for('editManufacturer', manufacturer_id=manufacturer[0].id) }}">
                <img src="{{manufacturer[1].url}}" alt="{{manufacturer[1].alt_text}}" width="50px">
                <h6><strong>ID:</strong> {{manufacturer[0].id}}</h6>
                <h6><strong>Name:</strong> {{manufacturer[0].name}}</h6>
                <h6><strong>Country:</strong> {{manufacturer[0].country}}</h6>
                <h6><strong>Founded:</strong> {{manufacturer[0].year_founded}}</h6>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}