{% extends "main.html" %}
{% block content %}
{% if 'username' in session %}
    <a href="{{ url_for('newImage') }}"><button class="btn btn-primary">Add an Image</button></a>
{% endif %}
    <h1 class="page_title">Images</h1>
    <hr class="dark_hr">
    <div class="row row-top-buffer">
    {% for image in images %}
        <div class="col-md-2 box">
            <a href="{{ url_for('editImage', image_id=image.id) }}">
                <img src="{{image.url}}" alt="{{image.alt_text}}" width="50px">
                <h6>{{image.alt_text}}</h6>
            </a>
        </div>
    {% endfor %}
    </div> 
{% endblock %}