{% extends "main.html" %}
{% block content %}
    <h1 class="page_title">Game Catalog</h1>
    <br><br>
    <h2 class="page_title">Top Three Games</h2>
    <hr class="dark_hr">
    <div class="row">
        {% for game in top_games %}
            <div class="col-md-4" align="center">
                <h4>{{game[0].title}}</h4>
                <p>{{game[0].average_rating}}</p>
                <img src="{{game[1].url}}" alt="{{game[1].alt_text}}" width="100" height="100">
            </div>
        {% endfor %}
    </div><br><br>
    <h2 class="page_title">All Games</h2>
    <hr class="dark_hr">
    <div class="row">
        {% for game in games %}
            <div class="col-md-3" align="center">
                <h6>{{game[0].title}}</h6>
                <p>{{game[0].average_rating}}</p>
                <img src="{{game[1].url}}" alt="{{game[1].alt_text}}" width="50" height="50"> 
            </div>
        {% endfor %}
    </div>
{% endblock %}