{% extends "main.html" %}
{% block content %}
    <h1>Delete System {{system.name}}</h1>
    <h5><strong>ID:</strong> {{system.id}}</h5>
    <h5><strong>Name:</strong>: {{system.name}}</h5>
    <h5><strong>Description:</strong>: {{system.description}}</h5>
    <h5><strong>Released:</strong>: {{system.year_released}}</h5>
    <h2>Are you sure?</h2>
    <form method="POST" action="#" autocomplete="off">    
        <button type="submit" class="btn btn-danger">DELETE</button>
        <a class="btn btn-primary" href="{{ url_for('allSystems') }}">Cancel</a>
    </form>
{% endblock %}