{% extends "main.html" %}
{% block content %}
<h1 class="page_title">Edit Publisher {{publisher.name}}</h1>
<hr>
<form method="POST" action="#" id="new_publisher" autocomplete="off">
    <div class="form-group new_publisher">
        <label for="publisher_name">Publisher Name</label>
        <input class="form-control" name="publisher_name" value="{{publisher.name}}" required>
    </div>
    {% include 'country-list.html' %}
    <div class="form-group new_publisher" id="publisher_image_drop_down">
        <label for="publisher_image">Publisher Logo</label>
        <select class="form-control" name="publisher_image" required>
            {% for image in images %}
                {% if image.id == publisher.image_id %}
                    <option value={{image.id}} selected>{{image.alt_text}}</option>
                {% else %}
                    <option value={{image.id}}>{{image.alt_text}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <a class="btn btn-primary btn-sm" href="{{ url_for('newImage') }}">New Image</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{ url_for('deletePublisher', publisher_id=publisher.id) }}" class="btn btn-danger">Delete</a>
</form>
{% endblock %}