<footer class="footer">
    <div class="container">
      <span class="text-muted">&copy; Copyright 2018, Joe Behrens</span>
      <a href="https://github.com/joseph-behrens" target="_blank"><i class="fa fa-github social-lead"></i></a>
      <a href="https://www.freecodecamp.org/joseph-behrens" target="_blank"><i class="fa fa-free-code-camp social"></i></a>
      <a href="https://www.linkedin.com/in/joe-behrens/" target="_blank"><i class="fa fa-linkedin-square social"></i></a>
      <a href="https://sitecore.stackexchange.com/users/1270/joe-behrens" target="_blank"><i class="fa fa-stack-overflow social"></i></a>
    </div>
  </footer>