{% extends "main.html" %}
{% block content %}
<h1 class="page_title">Create a New System Manufacturer</h1>
<hr>
<form method="POST" action="#" autocomplete="off">
    <div class="form-group new_manufacturer">
        <label for="manufacturer_name">Manufacturer Name</label>
        <input class="form-control" name="manufacturer_name" placeholder="Name of the new manufacturer being added" required>
    </div>
    <div class="form-group new_manufacturer">
        <label for="manufacturer_name">Year Founded</label>
        <input class="form-control" name="year_founded" placeholder="Year the company started doing business" required>
    </div>
    {% include 'country-list.html' %}
    <div class="form-group new_manufacturer" id="manufacturer_image_drop_down">
        <label for="manufacturer_image">Manufacturer Logo</label>
        <select class="form-control" name="manufacturer_image" required>
            <option value="" disabled selected>Select an image</option>
            {% for image in images %}
                <option value={{image.id}}>{{image.alt_text}}</option>
            {% endfor %}
        </select>
        <a class="btn btn-primary btn-sm" href="{{ url_for('newImage') }}">New Image</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}