{% extends "main.html" %}
{% block content %}
<h1 class="page_title">Create a New Game Publisher</h1>
<hr>
<form method="POST" action="#" id="new_publisher" autocomplete="off">
    <div class="form-group new_publisher">
        <label for="publisher_name">Publisher Name</label>
        <input class="form-control" name="publisher_name" placeholder="Name of the new publisher being added">
    </div>
    {% include 'country-list.html' %}
    <div class="form-group new_publisher" id="publisher_image_drop_down">
        <label for="publisher_image">Publisher Logo</label>
        <select class="form-control" name="publisher_image">
            <option value="" disabled selected>Select an image</option>
            {% for image in images %}
                <option value={{image.id}}>{{image.alt_text}}</option>
            {% endfor %}
        </select>
        <a class="btn btn-primary btn-sm" href="{{ url_for('newImage') }}">New Image</a>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}